# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.AskepotDDU1.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\arnar\Documents\Unity\AskepotDDU1\.idea\.idea.AskepotDDU1\.idea/dataSources/
/dataSources.local.xml
